@import '../../styles/utils';

.root {
    --tag-color: var(--color-basic-accent);
    width: auto;
    height: 1.6rem;
    color: var(--tag-color);
}

.color {
    &-element {
        @include colorElement(--tag-color);
    }

    &-role {
        @include colorRole(--tag-color);
    }
}