@import '../../styles/utils.scss';

.root {
    @include colorElement(--f-block-color);
    --lvl-color: var(--color-basic-white);

    @include colorRole(--f-block-color-role);
    @include colorRoleDual(--f-block-color-role-dual);

    position: relative;
    width: 100%;
    max-width: 100%;
    min-width: 13.2rem;
    border-radius: 2px;

    &:nth-child(1) {
        background: linear-gradient(
                    220deg,
                    var(--f-block-color) 25%,
                    var(--f-block-color-role) 100%
        );
    }
    
    &:nth-child(2) {
        background: linear-gradient(
                    200deg,
                    var(--f-block-color) 50%,
                    var(--f-block-color-role) 150%
        );
    }
    
    &.size {
        &-xl,
        &-m {
            flex-grow: 1;
            width: 19.2rem;
        }

        &-l,
        &-s {
            flex-grow: 1;
            width: 12rem;
        }

        &-xl,
        &-l {
            height: 9.6rem;
        }

        &-s,
        &-m {
            height: 6rem;

            .aspect {
                top: 0;
                right: $spacing-20;
                bottom: 0;
                margin: auto;
            }

            .bottom {
                bottom: $spacing-4;
            }
        }
        
        &-m,
        &-s {
            background: linear-gradient(
                60deg,
                var(--f-block-color) 25%,
                transparent 250%
            );
        }
    }

    &.transparent,
    &.outline,
    &.striped {
        --lvl-color: var(--f-block-color);
        border: 1px solid var(--f-block-color);
        background: none;
    }

    &.outline {
        .stripe {
            background: linear-gradient(
                200deg,
                var(--f-block-color-role) 20%,
                transparent 30%
            );
            opacity: 0.1;
        }
    }
}

.stripe {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: repeating-linear-gradient(
                    -30deg,
                    transparent,
                    transparent 1.6rem,
                    var(--f-block-color) 0,
                    var(--f-block-color) 3.2rem
    );
    opacity: 0.15;
    z-index: 0;
}

.top,
.bottom {
    position: absolute;
    right: $spacing-6;
    padding-left: $spacing-4;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    width: 100;
    z-index: 1;
}

.top {
    top: $spacing-4;
    align-items: flex-start;
    opacity: 0.75;
    left: $spacing-4;
}

.aspect {
    position: absolute;
    top: $spacing-8;
    right: $spacing-12;
    z-index: 1;
}

.bottom {
    bottom: $spacing-4;
    left: $spacing-4;
    right: $spacing-8;
}

.function {
    margin-right: -$spacing-4;
}

.lvl {
    position: relative;
    top: 0;
    left: $spacing-2;
    display: flex;
    align-items: flex-end;
    gap: $spacing-2;
    opacity: 0.5;

    span {
        width: 0.2rem;
        background: var(--lvl-color);

        &:nth-child(1) {
            height: 0.2rem;
            opacity: 1;
        }

        &:nth-child(2) {
            height: 0.4rem;
        }

        &:nth-child(3) {
            height: 0.6rem;
        }

        &:nth-child(4) {
            height: 0.8rem;
        }
    }
}

.pair {
    display: flex;
    align-items: baseline;
    gap: $spacing-6;
}