@import '../../styles/utils';

.root {
    display: flex;
    flex-direction: column;
    gap: $spacing-4;
    background-color: $color-basic-beige;
}

.functionalBlock {
    background-color: $color-basic-white;
    margin-top: 0;
    margin-bottom: 0;
}