@import '../../../styles/utils.scss';

.wrap {
    display: flex;
    flex-direction: column;
    gap: $spacing-4;
}


.title {
    display: block;
    margin-top: $spacing-16;
}

.people {
    padding-top: $spacing-32;
    display: flex;
    flex-wrap: wrap;
    row-gap: $spacing-4;
}