@import '../../../styles/utils.scss';

.wrap {
    display: flex;
    flex-direction: column;
    gap: $spacing-4;
}


.title {
    display: block;
    margin-top: $spacing-16;
}

.people {
    margin-top: $spacing-12;
    display: inline-flex;
    flex-flow: row wrap;
    align-items: stretch;
    align-content: stretch;
    column-gap: $spacing-4;
    row-gap: $spacing-4;
}