@import '../../../styles/utils.scss';

.root {
    display: flex;
    flex-direction: column;
    row-gap: $spacing-4;
    padding-bottom: $spacing-24;
    margin-bottom: $spacing-12;
    border-bottom: 1px solid rgba($color-basic-accent, 0.25);
}

.title {
    display: block;
    margin-top: $spacing-16;
}

.people {
    display: flex;
    flex-wrap: wrap;
    row-gap: $spacing-4;
}