@import '../_common/text.module';

.root {
    margin: 0;
    height: 100vh;
    margin-bottom: $spacing-8;

}

.header {
    top: $spacing-8;
}

.body {

    hr {
        border-color: var(--color-role);
        margin-top: $spacing-16;
        margin-bottom: $spacing-12;
        opacity: 0.25;
    }

    h2 {
        margin-bottom: $spacing-4;
    }
}

.labels {
    position: relative;
    margin-left: $spacing-12;
    opacity: 0.5;
}

.detailCards {
    opacity: 0.75;
    margin-top: $spacing-32;
}