@import '../_common/text.module';

.root {
    margin: 0;
    height: 100%;
    margin-bottom: $spacing-8;
}

.header {
    position: sticky;
    top: 0;
}

.title {
    display: sticky;
    padding-top: $spacing-4;
}

.body {
    
    hr {
        border-color: var(--color-role);
        margin-top: $spacing-16;
        margin-bottom: $spacing-12;
        opacity: 0.25;
    }

    h2 {
        margin-bottom: $spacing-12;
    }
}