@import '../../../styles/utils.scss';

.wrap {
    display: flex;
    flex-direction: column;
    gap: $spacing-4;
}


.title {
    display: block;
    margin-top: $spacing-16;
}

.text {
    p {
        margin-bottom: $spacing-12;
    }

    i {
        opacity: 0.75;
    }

    hr {
        border-color: var(--color-role);
        margin-top: $spacing-24;
        margin-bottom: $spacing-12;
        opacity: 0.25;
    }
}

.warning {
    display: block;
    padding: $spacing-8;
    padding-bottom: 0;
    border: 1px solid rgba($color-basic-accent, 0.25);
    margin-top: $spacing-32;
    margin-bottom: $spacing-12;
    line-height: $spacing-20;

    .line {
        margin-top: $spacing-6;
        margin-bottom: $spacing-6;
    }
}