@import '../../styles/utils.scss';

.root {
  position: relative;
  border: 1px solid rgba($color-basic-accent, .05);
  border-radius: 8px;
  padding: 2.4rem;
}

.iframe {
  width: 48rem;
  border: 1px solid rgba($color-basic-accent, .1);
  border-radius: 4px;
  height: 100%;
  padding: 1.2rem;
}

.closeBtn {
  position: absolute;
  top: -0.8rem;
  right: -0.8rem;
  width: 4rem;
  height: 4rem;
  border: 1px solid rgba($color-basic-accent, .1);
  background-color: $color-basic-beige;
  border-radius: 8px;
  color: rgba($color-basic-accent, .25);
  font-size: 4.8rem;
}