@import '../../styles/utils.scss';

.icon {
    flex-shrink: 0;
    opacity: 0.5;
}

.background {
    position: relative;
    padding: $spacing-16 $spacing-8 $spacing-4 $spacing-8;
    background: rgba($color-basic-beige,  0.5);
}