@import '../../styles/utils.scss';

.root {
    font-family: var(--text-font-family);
    font-size: var(--text-size);
    line-height: var(--text-line-height);
    color: var(--text-color);
    text-decoration: none;
}

b,
strong,
h1,
h2,
h3,
h4,
h5,
h6 {

    &,
    &.root {
        font-weight: $font-weight-bolder;
    }
}

.size {
    &-small {
        --text-size: #{$font-size-small};
        --text-line-height: #{$spacing-16};
    }

    &-body {
        --text-size: #{$font-size-body};
        --text-line-height: 2.0rem;
    }

    &-large {
        --text-size: #{$font-size-large};
        --text-line-height: 2.25rem;
    }

    &-h6 {
        --text-size: #{$font-size-h6};
        --text-line-height: 2.75rem;
    }

    &-h5 {
        --text-size: #{$font-size-h5};
        --text-line-height: 3.0rem;
    }

    &-h4 {
        --text-size: #{$font-size-h4};
        --text-line-height: #{$spacing-32};
    }


    &-h3 {
        --text-size: #{$font-size-h3};
        --text-line-height: #{$spacing-40};
    }

    &-h2 {
        --text-size: #{$font-size-h2};
        --text-line-height: #{$spacing-48};
    }

    &-h1 {
        --text-size: #{$font-size-h1};
        --text-line-height: #{$spacing-48};
    }
}

.color {
    &-white {
        --text-color: var(--color-basic-white);
    }

    &-black {
        --text-color: var(--color-basic-black);
        opacity: 0.8;
    }

    &-accent {
        --text-color: var(--color-basic-accent);
        opacity: 0.9;
    }

    &-grey {
        --text-color: var(--color-basic-accent);
        opacity: 0.5;
    }

    &-element {
        @include colorElement(--text-color);
    }

    &-role {
        @include colorRole(--text-color);
    }
}

.marker-color {
    &-element {
        @include colorElement(--color-li-marker);
    }

    &-role {
        @include colorRole(--color-li-marker);
    }
}

.font {
    &-base {
        --text-font-family: #{$font-family-base};
        letter-spacing: -0.03rem;
    }

    &-additional {
        --text-font-family: #{$font-family-alternative};
        letter-spacing: -0.03rem;
    }
}

b.root,
strong.root {
    font-weight: $font-weight-bolder;
}

ul.root {
    position: relative;
    list-style: none;
    padding-left: $spacing-8;

    li {
        padding-left: $spacing-16;
        margin-bottom: $spacing-12;

        &::before {
            --color-li-marker: var(--color-basic-black);

            position: absolute;
            left: 0;
            display: block;
            flex-shrink: 0;
            content: '';
            width: 0.8rem;
            height: 0.8rem;
            margin-top: $spacing-8;
            margin-right: $spacing-16;
            border-radius: 50%;
            opacity: 0.25;
            background-color: var(--color-li-marker);
        }
    }
}