@import '../../styles/variables';
@import '../../styles/mixins';

.text {
	font-family: var(--text-font-family);
	font-size: var(--text-size);
	line-height: var(--text-line-height);
	color: var(--text-color);
	text-decoration: none;
}

b,
strong,
h1,
h2,
h3,
h4 {
		&,
		&.text {
			font-weight: $font-weight-bold;
		}
}

.size {
	&-body {
		--text-size: #{$font-size-body};
		--text-line-height: #{$spacing-20};
	}

	&-small {
		--text-size: #{$font-size-small};
		--text-line-height: #{$spacing-16};
	}

	&-caption {
		--text-size: #{$font-size-caption};
		--text-line-height: #{$spacing-12};
	}

	&-large {
		--text-size: #{$font-size-large};
		--text-line-height: #{$spacing-24};
	}

	&-h4 {
		--text-size: #{$font-size-h4};
		--text-line-height: #{$spacing-24};
	}
	
	&-h3 {
		--text-size: #{$font-size-h3};
		--text-line-height: #{$spacing-32};
	}

	&-h2 {
		--text-size: #{$font-size-h2};
		--text-line-height: #{$spacing-40};
	}

	&-h1 {
		--text-size: #{$font-size-h1};
		--text-line-height: #{$spacing-40};
	}
}

.color {
	&-black {
		--text-color: var(--color-basic-black)
	}

	&-white {
		--text-color: var(--color-basic-white);
	}

	&-accent {
		--text-color: var(--color-basic-accent);
	}

	&-grey {
		opacity: 0,5;
	}

	&-quadra{
		@include colorQuadra(--text-color);
	}

	&-role{
		@include colorRole(--text-color);
	}
}

.bullet-color {
	&-quadra {
		@include colorQuadra(--color-li-bullet);
	}

	&-role {
		@include colorRole(--color-li-bullet);
	}
}

.font {
	&-primary {
		--text-font-family: #{$font-family-primary};
	}

	&-secondary {
		--text-font-family: #{$font-family-secondary};
	}
}

b.text,
strong.text {
	font-weight: $font-weight-bold;
}

ul.text {
	position: relative;
	list-style: none;
	padding-left: $spacing-4;

	li {
			padding-left: $spacing-12;
			margin-bottom: $spacing-8;

		&::before {
			--color-li-marker: var(--color-basic-black);

			position: absolute;
			left: 0;
			display: block;
			flex-shrink: 0;
			content: '';
			width: 0.8rem;
			height: 0.8rem;
			margin-top: $spacing-4;
			margin-right: $spacing-12;
			border-radius: 50%;
			opacity: 0.25;
			background-color: var(--color-li-bullet)
		}
	}
}