@import '../../styles/variables';
@import '../../styles/mixins';

.text {
    font-family: var(--text-font-family);
    font-size: var(--text-size);
    line-height: var(--text-line-height);
    color: var(--text-color);
    text-decoration: none;
}

b,
strong,
h1,
h2,
h3,
h4 {
    &,
    &.text {
        font-weight: $font-weight-bold;
    }
}

.size {
    &Caption {
        --text-size: #{$font-size-caption};
        --text-line-height: #{$spacing-12};
    }

    &Small {
        --text-size: #{$font-size-small};
        --text-line-height: #{$spacing-16};
    }

    &Body {
        --text-size: #{$font-size-body};
        --text-line-height: #{$spacing-20};
    }

    &Large {
        --text-size: #{$font-size-large};
        --text-line-height: #{$spacing-24};
    }

    &H4 {
        --text-size: #{$font-size-h4};
        --text-line-height: #{$spacing-24};
    }

    &H3 {
        --text-size: #{$font-size-h3};
        --text-line-height: #{$spacing-32};
    }

    &H2 {
        --text-size: #{$font-size-h2};
        --text-line-height: #{$spacing-40};
    }

    &H1 {
        --text-size: #{$font-size-h1};
        --text-line-height: #{$spacing-48};
    }
}

.color {
    &White {
        --text-color: var(--color-basic-white);
    }

    &Black {
        --text-color: var(--color-basic-black);
    }

    &Accent {
        --text-color: var(--color-basic-accent);
    }

    &Quadra {
        @include colorQuadra(--text-color);
    }

    &Role {
        @include colorRole(--text-color);
    }
}

.font {
    &Primary {
        --text-font-family: #{$font-family-primary};
    }

    &Secondary {
        --text-font-family: #{$font-family-secondary};
    }
}

b.icon,
strong.icon {
    font-weight: $font-weight-bold;
}

// Opacity

.o05 {
	opacity: 0.05;
}

.o10 {
	opacity: 0.1;
}

.o25 {
	opacity: 0.25;
}

.o50 {
	opacity: 0.5;
}

.o75 {
	opacity: 0.75;
}

.o100 {
	opacity: 1;
}
