@import '../../styles/utils';

.row {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: baseline;
    padding: $spacing-8 0;

    &:after {
        position: absolute;
        right: 0;
        bottom: 0;
        left: 0;
        content: '';
        height: 1px;
        opacity: 0.05;
        background-color: var(--color-basic-accent);
    }
}
.value {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: right;
    text-align: right;
}

.icon {
    margin-left: $spacing-4;
}

.sublabel {
    width: 100%;
}