@import '../../styles/utils.scss';

.wrapper {
  position: relative;
  display: flex;
  justify-content: center;
  gap: 2rem;
  height: 100%;
  padding: 9.6rem 0;
}

.addBtn {
  width: 9.6rem;
  height: 9.6rem;
  border-radius: 9.6rem;
  background-color: rgba($color-basic-accent, .1);
  color: rgba($color-basic-accent, .3);
  font-size: 6rem;
  align-self: center;
}
