@import '../../styles/utils.scss';

.root {
    width: 100%;
    min-width: 16rem;

    @media screen and (min-width: 380px) {
        width: 50%;

        &:nth-of-type(odd) {
            padding-right: calc($spacing-4 /2);
        }

        &:nth-of-type(even) {
            padding-left: calc($spacing-4 /2);
        }
    }
}

.upper {
    @include colorRole(--card-border-color);
    @include colorElement(--background-color);

    width: 100%;
    background: rgba($color-basic-white, 0.9);
    border-radius: 0.2rem;
    padding: $spacing-4;

}

.header {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 1px solid var(--card-border-color);
    padding-bottom: 0.4rem;

    &::before {
        content: '';
        position: absolute;
        width: calc(100% + $spacing-8);
        margin: -$spacing-4;
        height: 50%;
        border-radius: 0.2rem;
        background: linear-gradient(0deg, rgba(255, 255, 255, 0) 0%, var(--background-color) 100%);
        opacity: 0.15;
    }
}

.quadro {
    width: 50%;
    padding-top: 50%;
    position: relative;
    z-index: 2;
}

.userpic {
    @extend .quadro;
    border-radius: 0.2rem;
    background-size: cover;
}

.portraitCircle {
    @extend .quadro;
}

.portrait {
    position: absolute;
    width: 100%;
    bottom: -0.4rem;
    z-index: 1;
}

.circle {
    position: absolute;
    top: 0;
    left: $spacing-4;
    right: 0;
    bottom: $spacing-8;
    margin: auto;
    width: 90%;
    opacity: 0.5;
    z-index: -1;
}

.info {
    position: relative;
    display: flex;
    flex-direction: column;
    padding: $spacing-4 80% $spacing-4 0;
    height: 5.6rem;
}

.name {
    line-height: $spacing-24;
}

.subtitle {
    line-height: $spacing-20;
    margin-top: $spacing-4;
    opacity: 0.75;
}

.footer {
    margin-top: $spacing-24;
    margin-right: $spacing-2;
    display: flex;
    flex-direction: row;
    align-self: flex-end;
    justify-content: space-between;
    align-items: center;
}

.genderIcon {
    position: absolute;
    top: $spacing-6;
    right: 0;
    opacity: 0.5;
}

.logo {
    right: $spacing-16;
    opacity: 0.25;
}

.downtown {
    margin-top: $spacing-6;
    padding-top: $spacing-6;
    min-width: 16rem;
    overflow: hidden;
    background-color: rgba($color-basic-white, 0.9);
    border-radius: 0.2rem;
    border-top: 1px solid rgba($color-basic-accent, 0.1);
}

.iconrow {
    display: flex;
    flex-direction: row;
    gap: $spacing-4;

    .icon50 {
        opacity: 0.5;
    }
}