@import '../../styles/utils.scss';

.root {}

.upper {
    @include colorRole(--card-border-color);
    @include colorElement(--background-color);

    width: 100%;
    min-width: 16rem;
    min-height: 24rem;
    overflow: hidden;
    border: 1px solid rgba($color-basic-accent, 0.1);
    border-radius: 0.2rem;
    padding: $spacing-4;
}

.header {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 1px solid var(--card-border-color);
    padding-bottom: 1px;

    &::before {
        content: '';
        position: absolute;
        margin: -$spacing-4;
        background: var(--background-color);
        opacity: 0.05;
        z-index: -1;
    }
}

.quadro {
    width: 50%;
    padding-top: 50%;
    position: relative;
}

.userpic {
    @extend .quadro;
    border-radius: 0.2rem;
    background-size: cover;
}

.portraitCircle {
    @extend .quadro;
}

.portrait {
    position: absolute;
    width: 100%;
    bottom: 0;
    z-index: 1;
}

.circle {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: 100%;
    opacity: 0.5;
    z-index: -1;
}

.info {
    margin-top: $spacing-4;
    margin-bottom: $spacing-4;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.name {
    width: 30%;
}

.subtitle {
    width: 70%;
    line-height: $spacing-20;
    margin-top: $spacing-4;
    opacity: 0.75;
}

.footer {
    margin-top: $spacing-24;
    margin-right: $spacing-2;
    display: flex;
    flex-direction: row;
    align-self: flex-end;
    justify-content: space-between;
    align-items: center;
}

.genderIcon {
    opacity: 0.5;
}

.logo {
    right: $spacing-16;
    opacity: 0.25;
}

.downtown {
    margin-top: $spacing-4;
    min-width: 16rem;
    overflow: hidden;
    border: 1px solid rgba($color-basic-accent, 0.1);
    border-radius: 0.2rem;
    padding: $spacing-4;
}

.iconrow {
    display: flex;
    flex-direction: row;
    gap: $spacing-4;
    padding-bottom: $spacing-4;
    margin-bottom: $spacing-4;
    border-bottom: 1px solid rgba($color-basic-accent, 0.1);

    .icon50 {
        opacity: 0.5;
    }
}