@font-face {
    font-family: 'Montserrat VF';
    src: url('./Montserrat-VF.woff2') format('woff2');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat VF Italic';
    src: url('./Montserrat-Italic-VF.woff2') format('woff2');
    font-weight: 400;
    font-style: italic;
}