@import '../../styles/utils.scss';

.root {
    cursor: pointer;
    padding-bottom: $spacing-24;
}

.title {
    margin-bottom: $spacing-4;
}

.wrap {
    flex: 1 0 auto;
}

.text:not(:last-child) {
    margin-bottom: $spacing-16;
}

.icon {
    flex-shrink: 0;
    margin-right: $spacing-24;
}
