@import '../../styles/utils';

.root {
    @include transition(all);
    position: absolute;
    top: $size-header-height;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: $color-basic-beige;
    z-index: 1;
    padding: 0;
    transform: translateY(-$spacing-16);

    opacity: 0;
    visibility: hidden;

    &.open {
        opacity: 1;
        transform: translateY(0);
        visibility: visible;
    }
}

.container {
    padding-top: $spacing-4;
    padding-left: $spacing-8;
    padding-right: $spacing-8;
}

.menuList {
    display: flex;
    flex-wrap: wrap;
    gap: $spacing-4;
    margin-bottom: $spacing-24;
}


.menuItem {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    flex: 1 1 auto;
    position: relative;
    border-radius: 2px;
    background-color: $color-basic-white;
    color: $color-basic-accent;
    border: 1px solid rgba($color-basic-accent, 0.1);
    cursor: pointer;
    padding: 0 $spacing-6 $spacing-6 $spacing-6;
    width: 40%;
    height: 6.4rem;

    &.fullWidth {
        width: 100%;
    }

    &.doubleHeight {
        height: 9.6rem;
    }

    &.big {
        height: 12.8rem;
    }

    &.inactive {
        opacity: 0.5;
        cursor: default;
    }

    .text {
        line-height: $spacing-20;
    }
}

.icon {
    position: relative;
    bottom: $spacing-4;
    opacity: 0.5;
}

.image {
    position: absolute;
    right: $spacing-12;
    top: -$spacing-12;
    opacity: 0.5;
}

.elements {
    position: absolute;
    display: flex;
    flex-direction: row;
    align-content: space-between;
    top: $spacing-12;
    left: $spacing-6;
    gap: $spacing-4;
}

.adult1 {
    position: absolute;
    height: 12.8rem;
    bottom: 0;
    right: 0;
    z-index: 1;
}

.adult2 {
    position: absolute;
    height: 10.8rem;
    bottom: 0;
    right: 8rem;
    z-index: 0;
    opacity: 0.75;
}

.dualstring {
    position: absolute;
    top: $spacing-8;
    right: $spacing-12;
    display: flex;
    gap: $spacing-6;
    opacity: 0.75;
}

.kid1 {
    position: absolute;
    height: 11.2rem;
    bottom: 0;
    right: 4.8rem;
    z-index: 1;
}

.kid2 {
    position: absolute;
    height: 10.8rem;
    bottom: 0;
    right: 0rem;
    z-index: 0;
    opacity: 0.75;
}

.kid3 {
    position: absolute;
    height: 9.6rem;
    bottom: 0;
    right: 10.8rem;
    z-index: 0;
    opacity: 0.75;
}

.iconCascade {
    position: absolute;
    display: flex;
    align-items: flex-start;
    align-content: flex-end;
    flex-direction: row-reverse;
    top: $spacing-16;
    right: $spacing-12;
    opacity: 0.5;
}

.iconCascadeIntertype {
    position: absolute;
    display: flex;
    align-items: flex-start;
    align-content: flex-end;
    flex-direction: row-reverse;
    top: $spacing-16;
    right: $spacing-12;
    opacity: 0.5;
}

.icon1 {
    opacity: 1;
}

.icon2 {
    opacity: 0.75;
}

.icon3 {
    opacity: 0.50;
}
