@font-face {
    font-family: 'Golos Text VF';
    src: url('./Golos-Text_VF.woff2') format('woff2'),
        url('./Golos-Text_VF.woff') format('woff');
    font-weight: 320;
    font-style: normal;
}