@import '../../styles/utils.scss';

.root {
    display: flex;
    flex-direction: column;
    gap: $spacing-4;
}

.title {
    margin-top: $spacing-12;
    margin-bottom: $spacing-24;
}

.mb8 {
    margin-bottom: $spacing-8;
}

.text:not(:last-child), hr {
    margin-bottom: $spacing-12;
}

.grower {
    flex: 1;
}

hr {
    margin-top: $spacing-32;
    margin-bottom: $spacing-16;
}
