@import '../../styles/utils.scss';

.root {
    display: flex;
    flex-direction: column;
    gap: $spacing-4;

    p,
    hr {
        margin-bottom: $spacing-12;
    }

    i {
        opacity: 0.75;
    }
}

.text-right {
    text-align: right;
}

.title {
    color: var(--color-basic-accent);
    margin-bottom: $spacing-12;
    margin-top: $spacing-12;
}

a {
    color: rgba($color-basic-accent, 1);
}

a:hover {
    color: rgba($color-basic-accent, 0.8)
}

.linkblock {
    display: flex;
    flex-direction: column;
    gap: $spacing-8;
}