@import './variables';
@import './mixins';
@import '../fonts', './buttons';

:root {
    --color-basic-white : #{$color-basic-white};
    --color-basic-beige : #{$color-basic-beige};
    --color-basic-black : #{$color-basic-black};
    --color-basic-accent : #{$color-basic-accent};
    --color-basic-greener: #d7dd93;
    --color-basic-pink: #f6c0b1;
    --color-basic-turquoise: #b6d1c5;
    --color-basic-yellow: #fece30;

    --color-elements-air : #{map-get($color-elements, 'air')};
    --color-elements-fire : #{map-get($color-elements, 'fire')};
    --color-elements-water : #{map-get($color-elements, 'water')};
    --color-elements-earth : #{map-get($color-elements, 'earth')};

    --color-elements-air-dark : #{$color-elements-air-dark};
    --color-elements-fire-dark : #{$color-elements-fire-dark};
    --color-elements-water-dark : #{$color-elements-water-dark};
    --color-elements-earth-dark : #{$color-elements-earth-dark};

    font-size: 62.5%;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: subpixel-antialiased;
    background-color: var(--color-basic-beige);
}

html,
body {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}


* {

    &,
    &::before,
    &::after {
        margin: 0;
        padding: 0;
        outline: none;
        box-sizing: border-box;
        -webkit-tap-highlight-color: transparent;
        -webkit-appearance: none;

        &::-webkit-scrollbar {
            width: 0;
            opacity: 0;
        }
    }
}

#app {
    max-width: $app-max-width;
    margin: auto;
    height: 100vh;
    overflow: hidden;
}

.app-content {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

hr {
    width: 100%;
    flex: 1 0 auto;
    outline: none;
    opacity: 0.1;
    border: 0;
    border-bottom: 1px solid var(--color-basic-black);
}