@import './variables/index';
@import './mixins/index';
@import '../fonts', './buttons';

hr {
    width: 100%;
    flex: 1 0 auto;
    outline: none;
    opacity: 0.1;
    border: 0;
    border-bottom: 1px solid var(--color-basic-black);
}

:root {
    font-size: 62.5%;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: subpixel-antialiased;
    height: 100vh;

    // @media screen and (min-width: 992px) {
    //     font-size: 100%;
    // }
}

html.no-scroll {
    body {
        overflow-y: hidden;
        padding-right: 4px;
    }
}

* {
    &,
    &::before,
    &::after {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        -webkit-tap-highlight-color: transparent;
        -webkit-appearance: none;
    }

    &::-webkit-scrollbar {
        width: 4px;
        background-color: var(--color-basic-beige);;
    }

    &::-webkit-scrollbar-thumb {
        border: 1px solid var(--color-basic-beige);
        border-radius: 4px;
        background-color: rgba($color-basic-accent, 0.25);
    }
}

body {
    overflow-y: scroll;
    overflow-x: hidden;
    background-color: var(--color-basic-beige);
}

#app {
    position: relative;
    display: flex;
    flex-direction: column;
    max-width: $app-max-width;
    min-width: $app-min-width;
    min-height: 100vh;
    margin: auto;
    padding-bottom: calc(#{$spacing-4} - #{$spacing-8});
}

@include fullscreen {
    html,
    body {
        overflow: hidden;
    }

    #app {
        min-height: initial;
        height: 100vh;
        padding-bottom: calc(#{$spacing-32} - #{$spacing-8});
    }
}
