@import '../fonts';
@import './variables';

:root {
	font-size: 62.5%;
	-webkit-font-smoothing: subpixel-antialiased;
}

html,
body {
	overflow: hidden;
}

* {
	&,
	&::before,
	&::after {
			margin: 0;
			padding: 0;
			box-sizing: border-box;
			-webkit-tap-highlight-color: transparent;
			-webkit-appearance: none;
	}
}

body {
	background-color: var(--color-basic-beige);
	color: var(--color-basic-black);
	font-family: $font-family-primary;

}

button {
	background: none;
	border: none;
}