@import '../../styles/utils.scss';

.root {
	display: flex;
	justify-content: space-between;
	margin-top: $spacing-20;
	padding-bottom: $spacing-8;
	margin-bottom: $spacing-24;
	border-bottom: 1px solid rgba($color-basic-accent, 0.25);
	opacity: 0.75;
}

.pair {
	display: flex;
	align-items: center;
	gap: $spacing-4;
}