@import '../../styles/variables';
@import '../../styles/mixins/';

.content {
	width: 100%;
	height: 100%;
}

.container {
	@extend .content;
	padding: $spacing-4;

	@include fullscreen {
		overflow-y: scroll;
	}
}