@import '../../styles/utils.scss';

.root {
    display: flex;
    justify-content: space-around;
    position: relative;
    width: 100%;
    min-height: 4.8rem;
    opacity: 0.5;
    align-items: center;
    align-content: center;
}

.icon {
    position: relative;
    margin-top: $spacing-24;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0.25;
    margin-bottom: $spacing-24;
}

.iconWaves {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0.5
}