@import '../../styles/utils';

.test {
    margin-top: $spacing-20;
}

.nextPrevButtons {
    width: 100%;
    height: $spacing-40;
    padding-top: $spacing-6;
    border-bottom: 1px solid rgba($color-basic-accent, 0.25);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;

    .pair {
        display: flex;
        align-content: center;
        gap: $spacing-4;
        opacity: 0.5;

        &:hover {
            opacity: 1;
        }
    }
}

.stepCounter {
    display: flex;
    justify-content: space-between;
    margin-top: $spacing-12;
}

.answerBlock {
    margin-top: 6.4rem;
    margin-bottom: $spacing-48;
    display: flex;
    flex-direction: column;
    gap: $spacing-24;

    button {
        height: 12.8rem;
        width: 100%;
        border: 1px solid rgba($color-basic-accent, 0.25);
        border-radius: $spacing-4;
        transition: all 100ms ease-in;

        .answerIcon {
            position: absolute;
            margin-right: calc(100% - 5.6rem);
            margin-bottom: 8.8rem;
            opacity: 0.5;
        }
    }

    button:hover {
        background-color: rgba($color-basic-accent, 0.05);

        .answerIcon {
            opacity: 1;
        }
    }

    button.active {
        background-color: rgba($color-basic-accent, 1);

        span {
            color: $color-basic-white;
        }

        .answerIcon {
            color: $color-basic-white;
            opacity: 1;
        }
    }
}

.resultCard {
    margin-top: $spacing-16;
    padding-top: $spacing-16;
    padding-bottom: $spacing-40;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $color-basic-beige;
    border: 1px solid rgba($color-basic-accent, 0.1);

    .link {
        width: calc(50% - #{calc($spacing-4 / 2)});
        min-width: 16rem;
        text-decoration: none;
        box-shadow: 0 $spacing-2 0 $spacing-2 rgba($color-basic-accent, 0.1);
    }
}

.result {
    padding-top: $spacing-24;

    button {
        margin-top: $spacing-12;
        height: 4.8rem;
        width: 100%;
        border: 1px solid rgba($color-basic-accent, 0.25);
        border-radius: $spacing-4;

        &:hover {
            border: 1px solid rgba($color-basic-accent, 0.5);
        }
    }
}