@import '../../styles/utils.scss';

.root {
    position: relative;
    padding: $spacing-8;
    border-radius: 2px;
    z-index: 0;

    &:before {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 0;
    }

    &.white {
        background-color: var(--color-basic-white);
    }

    &.beige {
        background-color: var(--color-basic-beige);
    }

    &.beige-title {
        background-color: var(--color-basic-white);

        &::before {
            height: 4rem;
            z-index: 0;
            background-color: rgba($color-basic-beige, 0.25);
        }
    }

    &.beige-title-big {
        background-color: var(--color-basic-white);
        
        &::before {
            height: 10rem;
            z-index: 0;
            background-color: rgba($color-basic-beige, 0.25);
        }
    }
    
    
    
    &.small {
        padding: $spacing-6;
    }
}




