@import '../../styles/utils';


.menuList {
    display: flex;
    flex-wrap: wrap;
    gap: $spacing-4;
    margin-bottom: $spacing-24;
}


.menuItem {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    flex: 1 1 auto;
    position: relative;
    border-radius: 2px;
    padding: $spacing-6;
    background-color: $color-basic-white;
    color: $color-basic-accent;
    border-top: 1px solid $color-basic-accent;
    cursor: pointer;
    padding: $spacing-24 $spacing-4 $spacing-4 $spacing-4;
    min-width: 40%;

    &.fullWidth {
        width: 100%;
    }
}
