@import '../../styles/utils';

$before-element-width: 1.5rem;

.root {

}

.card {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}

.menu {
    display: flex;
    flex-direction: column;
    counter-reset: section;
    list-style: none;
    background-color: var(--color-basic-white);
}

.item {
    position: relative;

    &:not(:last-child)::after {
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        content: '';
        display: block;
        height: 1px;
        background-color: var(--color-basic-black);
        opacity: 0.05;
    }
}

.link {
    position: relative;
    width: 100%;
    display: block;
    padding: $spacing-16 $spacing-4 $spacing-16 calc(#{$spacing-4} + #{$before-element-width});
    cursor: pointer;
    z-index: 1;

    @include transition(color);

    &:active {
        &::before {
            opacity: 1;
        }
    }

    &::before {
        position: absolute;
        top: 50%;
        left: 0;
        width: $before-element-width;
        font-size: $font-size-base;
        transform: translateY(-50%);
        counter-increment: section;
        content: counter(section);
        z-index: 0;
    }

    &:not(&--active)::before {
        opacity: 0.5;
    }
}