@import '../../styles/utils.scss';

.root {
    flex-shrink: 0;
    max-width: 100%;
    max-height: 100%;
    fill: currentColor;
    stop-color: currentColor;
    color: var(--icon-color);
    transform-origin: center;
}

.white {
    --icon-color: var(--color-basic-white);
}

.accent {
    --icon-color: var(--color-basic-accent);
}

.black {
    --icon-color: var(--color-basic-black);
}

.element {
    @include colorElement(--icon-color)
}

.role {
    @include colorRole(--icon-color);
}