@import '../_common/text.module';

.header {
    padding-bottom: 0;
}

.title-icon {
    margin-right: $spacing-8;
}

.aspect-details {
    position: relative;
    align-items: center;

    &,
    &-text {
        display: flex;
    }

    &-text {
        flex-direction: column;
        row-gap: $spacing-4;
    }
}

.icon-mini {
    position: absolute;
    top: $spacing-8;
    left: $spacing-4;
}
