@import '../../styles/utils.scss';

.root {
    display: flex;
    flex-direction: column;
    row-gap: $spacing-8;
}

.link {
    width: calc(50% - #{calc($spacing-4 / 2)});
    min-width: 16rem;
    text-decoration: none;
}

.menuList {
    display: flex;
    flex-wrap: wrap;
    gap: $spacing-4;
    margin-top: $spacing-32;
    margin-bottom: $spacing-12;
}

.menuItem {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    flex: 1 1 auto;
    position: relative;
    border-radius: 2px;
    color: $color-basic-accent;
    background-color: $color-basic-white;
    border: 1px solid rgba($color-basic-accent, 0.1);
    cursor: pointer;
    padding: 0 $spacing-6 $spacing-6 $spacing-6;
    width: 40%;
    height: 6.4rem;

    .text {
        line-height: $spacing-20;
    }

    &.doubleHeight {
        height: 9.6rem;
    }
}

.icon {
    position: relative;
    bottom: $spacing-6;
    opacity: 0.5;
}

.image {
    position: absolute;
    right: $spacing-8;
    top: $spacing-4;
    opacity: 0.25;
}