@import '../../styles/utils.scss';

.root {
    display: flex;
    flex-direction: column;
    row-gap: $spacing-4;
}

.link {
    width: calc(50% - #{calc($spacing-4 / 2)});
    min-width: 16rem;
    text-decoration: none;
}
