@import '../_commons/text.module.scss';

.card {
    flex: 1 1 50%;
    position: relative;
    padding: $spacing-16;
    background-color: var(--color-basic-beige);
    cursor: pointer;

    .mini-icon {
        position: absolute;
        top: $spacing-16;
        right: $spacing-16;
    }
}