@import '../_commons/text.module.scss';

.grower {
    display: flex;
    flex-direction: row;
    align-content: baseline;
    gap: $spacing-12;

    .text {
        line-height: $spacing-20;
    }
}

.blackwhite {
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    gap: $spacing-8;
}

.mb8 {
    margin-bottom: 0;
}