@import '../../styles/utils.scss';

.root {
    position: fixed;
    justify-content: center;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 9999;
    height: 100%;
    cursor: pointer;

    &.open {
        .bg {
            opacity: 0.8;
        }

        .container {
            transform: translateY(0);
        }
    }

    &.lvl_1 {
        .container {
            top: $spacing-40;
        }
    }

    &.lvl_2 {
        .container {
            top: $spacing-40 * 2;
        }
    }
}

.bg {
    @include transition(opacity);
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: var(--color-basic-beige);
    opacity: 0;
    z-index: 0;
}

.container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    max-width: 48rem;
    padding: 0;
    border-radius: 2px;
    z-index: 1;
    cursor: auto;
    transform: translateY(100%);
    transition: transform 230ms ease;
    overflow-y: scroll;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
}

.drag {
    position: absolute;
    top: $spacing-4;
    left: 50%;
    z-index: 999;
    transform: translateX(-50%);
    width: 9.6rem;
    height: 0.2rem;
    border-radius: 2px;
    background-color: var(--color-basic-accent);
    opacity: 0.15;
}