@import '../../styles/utils.scss';

$transition-duration: 100ms;

.root {
    position: fixed;
    justify-content: center;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 9999;
    cursor: pointer;

    &.open {
        .bg {
            opacity: 0.95;
        }

        .container {
            transform: translateY(0);
        }
    }
}

.bg {
    @include transition(opacity);
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: var(--color-basic-beige);
    opacity: 0.95;
    z-index: 0;
}

.container {
    @include transition(transform);
    position: absolute;
    bottom: 0;
    left: $spacing-4;
    right: $spacing-4;
    margin-left: auto;
    margin-right: auto;
    height: calc(100vh - 4rem);
    max-width: 48rem;
    padding: 0;
    border-radius: 2px;
    z-index: 1;
    cursor: auto;
    transform: translateY(calc(100% + #{$spacing-4}));
    overflow: scroll;
    display: flex;
    flex-direction: column;
}

.drag {
    position: absolute;
    top: $spacing-6;
    left: 50%;
    transform: translateX(-50%);
    width: 8.8rem;
    height: 0.4rem;
    border-radius: 2px;
    background-color: var(--color-basic-accent);
    opacity: 0.25;
}
