@import '../../../styles/utils';

.title {
    margin-bottom: $spacing-8;
}

.list {
    margin-bottom: 0;
}

.wrap {
    display: flex;
    flex-direction: column;
    gap: $spacing-4;
    }

.white {
    background-color: $color-basic-white;
}
