@import '../../../styles/utils.scss';

.root {
    flex: 1 0 3.2rem;
    white-space: nowrap;
    height: $size-header-section-height;
    background-color: var(--color-basic-white);
    border-radius: 2px;
    opacity: 0.5;
    padding: 0.4rem 1.6rem;

    @include transition(opacity);

    &.active {
        opacity: 1;
    }
}
