@import '../../styles/utils';

.root {
    display: flex;
    flex-direction: column;
    gap: $spacing-8;
}

.title {
    margin-bottom: $spacing-4;
}

.body {
    height: 100%;
    padding: 0;

    p, hr {
        margin-bottom: $spacing-12;
        line-height: $spacing-24;
    }
}