@import '../_commons/text.module.scss';

.person {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    align-items: flex-start;
    gap: $spacing-16;
    margin-bottom: $spacing-24;
    margin-top: $spacing-24;

    .text {

    }
    .userpic {
        border-radius: $spacing-2;
        width: 10.4rem;
        height: 10.4rem;
    }
}