@import '../_commons/text.module.scss';

.person {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    align-items: flex-start;
    gap: $spacing-20;
    margin-bottom: $spacing-20;
    margin-left: $spacing-20;

    .userpic {
        border-radius: $spacing-2;
        width: 10.4rem;
        height: 10.4rem;
    }
}

.minitabs {
    margin-top: $spacing-40;
}

.name {
    line-height: $spacing-24;
}

.date {
    margin-top: $spacing-4;
}