@import '../../styles/variables';
@import '../../styles/mixins';

.row1 {
	@include colorQuadra(--color-quadra);
	@include colorRole(--color-role);
	display: flex;
	gap: $spacing-6;
}

.attribute {
	display: flex;
	gap: $spacing-2;
}

.row2 {
	@extend .row1;
	margin-top: $spacing-4;
}