$color-basic-white: #fff;
$color-basic-beige: #f9f5f2;
$color-basic-black: #202322;
$color-basic-accent: #6b360d;

$color-elements: (
    'air'  : #de64d2,
    'fire' : #ea5c3d,
    'water': #2992de,
    'earth': #559d3e
);
