$color-basic-white: #fff;
$color-basic-beige: #f9f5f2;
$color-basic-black: #202322;
$color-basic-accent: #6b360d;

$color-pastel-turquoise: #b6d1c5;
$color-pastel-green: #d7dd93;
$color-pastel-yellow: #fece30;
$color-pastel-pink: #f6c0b1;

$color-elements-air: #de64d2;
$color-elements-fire : #ea5c3d;
$color-elements-water: #2992de;
$color-elements-earth: #559d3e;

// Array below for automated coloring

$color-elements: (
    'air' : #de64d2,
    'fire' : #ea5c3d,
    'water': #2992de,
    'earth': #559d3e
);