$font-family-base: 					'HalvarMittelschrift';
$font-family-alternative: 	'HalvarBreitschrift';

$font-weight-normal: 				300;
$font-weight-bold: 					400;

$font-size-caption: 				1rem;
$font-size-small: 					1.2rem;
$font-size-body: 						1.4rem;
$font-size-large: 					1.8rem;
$font-size-h4: 							1.8rem;
$font-size-h3: 							2.4rem;
$font-size-h2: 							3rem;
$font-size-h1: 							4rem;