@import '../../styles/utils';

.root {
    @include colorElement(--card-group-color);
    
    position: relative;

    max-width: 48rem;
    padding: $spacing-16 $spacing-4;
    border-top: 1px solid var(--card-group-color);

    &::before {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background: linear-gradient(
            180deg, var(--card-group-color) 0,
            transparent 100%
        );
        content: '';
        display: block;
        z-index: -1;
        opacity: 0.1;
    }
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: $spacing-16;
    column-gap: $spacing-8;

    &-title {
        margin-right: auto;
    }

    &-icon {
        margin-right: $spacing-4;
        color: var(--card-group-color);
        opacity: 0.25;
    }
}

.body {
    display: flex;
    vertical-align: middle;
    flex-wrap: wrap;
    column-gap: $spacing-4;
    row-gap: $spacing-4;
}