@import '../../styles/utils.scss';

.root {
    display: inline-flex;
    height: 2.4rem;
}

.content {
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
}

.divider {
    width: 1px;
    height: 1.6rem;
    margin-left: $spacing-4;
    margin-right: $spacing-4;
    background-color: var(--color-basic-accent);
    opacity: .1;
}

.icon {
    gap: $spacing-4;
}