@import '../../styles/utils';

.root {
    background: rgba($color-basic-beige, 0.5);
    padding: $spacing-8;
    margin-top: $spacing-8;
    text-decoration: none;
    cursor: pointer;

    a {
        text-decoration: none;
    }

    &:hover {
        background: rgba($color-basic-beige, 1);
    }

    .text {
        margin-bottom: $spacing-8;
    }
}

.tags {
    display: flex;
    flex-wrap: wrap;
    opacity: 0.75;
    column-gap: $spacing-6;
    row-gap: $spacing-4;
    margin-bottom: $spacing-12;
}

.alias {
    margin-top: $spacing-2;
    margin-left: $spacing-4;
}

.aspectIcon {
    position: absolute;
    right: $spacing-32;

}

.header {
    display: flex;
    flex-direction: row;
    gap: $spacing-4;
    margin-top: $spacing-8;
    margin-bottom: $spacing-16;
}

.image {
    margin-bottom: $spacing-8;
}

.title {
    line-height: $spacing-24;
    margin-bottom: $spacing-4;
    opacity: 1;
}