@import '../../styles/utils.scss';

.root {
    flex: 1 0 12.8rem;
    text-align: left;
    justify-content: left;
    align-items: flex-end;
    height: 8rem;
    background-color: var(--color-basic-white);
    border-radius: 2px;
    opacity: 0.6;
    padding: 1.2rem 2.4rem 0.6rem 0.6rem;

    @include transition(opacity);

    &.active {
        opacity: 1;
        background-color: var(--color-basic-white);
    }
}
