@import '../../styles/utils.scss';

.root {
    position: relative;
    flex: 1 0 9.6rem;
    text-align: left;
    justify-content: left;
    align-items: flex-end;
    height: 100%;
    background-color: var(--color-basic-white);
    border-radius: 2px;
    opacity: 0.5;
    line-height: $spacing-16;
    padding: 2.4rem 2.4rem 0.6rem 0.6rem;

    @include transition(opacity);

    &.active {
        opacity: 1;
        background-color: var(--color-basic-white);
        border-bottom: 1px solid rgba($color-basic-accent, 0.5);
    }
}

.icon {
    position: absolute;
    margin-left: 0;
    margin-bottom: 4.4rem;
    opacity: 0.5;

}