@import '../../styles/utils.scss';

.root {
    @include colorElement(--card-border-top-color);

    display: flex;
    flex-direction: column;
    height: 22.4rem;
    overflow: hidden;
    text-decoration: none;
    outline: none;
    border-top: 1px solid var(--card-border-top-color);
}

.body {
    position: relative;
    flex: 1 1 auto;
    border-bottom: 1px solid var(--color-role);

    &::before {
        position: absolute;
        right: -$spacing-8;
        top: -0.7rem;
        left: -$spacing-8;
        height: 2.4rem;
        z-index: 0;
        display: block;
        content: '';
        background: radial-gradient(50% 25% at 50% 0%,
                var(--color-element) 0,
                transparent);
        opacity: 0.25;
    }
}

.tags {
    display: flex;
    justify-content: flex-end;
}

.quadra-img {
    position: absolute;
    margin-top: 0;
    left: 50%;
    opacity: 0.33;
    transform: scale(1) translateX(-50%);
}

.portrait {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
    width: 14.4rem;
    height: 14.4rem;
}

.mindset-key {
    color: var(--color-element);
}

.footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: $spacing-4;
    gap: $spacing-4;
}

.name {
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    letter-spacing: -0.1rem;
}

.element-role {
    display: flex;
    flex-direction: column;
    gap: $spacing-2;
}

.id-alias {
    display: flex;
    flex-direction: column;
    gap: $spacing-2;
    text-align: right;
}

.alias {
    @media (max-width: 400px) {
        width: 6.4rem;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}

.pair {
    display: flex;
    align-items: center;
    gap: $spacing-4;
}