@import '../../styles/utils';

.root {
    display: flex;
    flex-direction: column;
    height: 20.8rem;
    overflow: hidden;
    text-decoration: none;
    outline: none;
}

.body {
    position: relative;
    flex: 1 1 auto;
    border-bottom: 1px solid var(--color-role);

    &::after {
        position: absolute;
        right: 0;
        bottom: 0;
        left: 0;
        height: 4.8rem;
        z-index: -1;
        display: block;
        content: '';
        background: radial-gradient(
            50% 50% at 50% 100%,
            var(--color-role) 0,
            transparent
        );
        opacity: 0.5;
    }
}

.tags {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.quadra-img {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: $spacing-8;
    opacity: 0.25;
}

.person {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    right: $spacing-12;
    bottom: 0;
    width: 11.2rem;
    height: 11.2rem;
}

.mind-key {
    color: var(--color-element);
}

.footer {
    display: flex;
    flex-wrap: wrap;
    padding-top: $spacing-8;
    gap: $spacing-8;
}

.name {
    width: 100%;
}
