@import '../../styles/utils.scss';

.root {
    width: 100%;
    height: 100%;
}

.container {
    @extend .root;
    padding: 0 $spacing-4;

    @include fullscreen {
        overflow-y: scroll;
    }
}

.endpoint {
    
    display: flex;
    min-height: 8rem;
    justify-content: space-around;
    position: relative;
    width: 100%;
    opacity: 0.33;
    align-items: center;
    align-content: center;

}