@import '../../styles/utils.scss';

.root {
    width: 100%;
    height: 100%;
}

.container {
    @extend .root;
    padding: 0 $spacing-4;

    @include fullscreen {
        overflow-y: scroll;
    }
}