@import '../../styles/variables';

.header {
	width: 100%;
	height: $size-header-height;
	background-color: var(--color-basic-beige);
	color: var(--color-basic-black);
	padding: $spacing-4 $spacing-4 0 $spacing-4;
}

.top_section {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	height: $size-header-top-section-height;
	margin-bottom: $spacing-12;
	color: inherit;
	overflow: hidden;
}

.bottom_section {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	height: $size-header-bottom-section-height;
	margin-top: $spacing-12;
	color: inherit;
	overflow: hidden;

	&-name {
		margin-right: auto;
	}

}

.logo-icon {
	display: flex;
	align-items: center;
	justify-content: center;
	width: $size-header-top-section-height;
	height: $size-header-top-section-height;
}

.btn {
	color: inherit;

	&-top_section {
		width: $size-header-bottom-section-height;
		height: $size-header-bottom-section-height;
	}

	&-bottom_section {
		width: $size-header-bottom-section-height;
		height: $size-header-bottom-section-height;
	}

	&-o25 {
			opacity: 0.25;
	}

	&-o50 {
			opacity: 0.5;
	}
}

.menu {
	display: flex;
	gap: 0.4rem;
	opacity: 0.5;
}

.book {
	display: flex;
	gap: 0.4rem;
	opacity: 0.5;
}