@import '../../styles/utils.scss';

.root {
    width: 100%;
    max-width: 48rem;
    background-color: var(--color-basic-beige);
    color: var(--color-basic-black);
    padding: $spacing-8 $spacing-4 0 $spacing-4;
    z-index: 2;
}

.section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: $size-header-section-height;
    margin-bottom: $spacing-8;
    color: inherit;
    overflow: hidden;
}

.icon-wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    width: $size-header-section-height;
    height: $size-header-section-height;
    opacity: 0.5;
}

.btn {
    width: $size-header-section-height;
    height: $size-header-section-height;
    color: inherit;

    &-opacity-2 {
        opacity: 0.25;
    }

    &-opacity-5 {
        opacity: 0.5;
    }
}

.menu {
    opacity: 0.5;

    @include transition(opacity);

    &.active {
        opacity: 1;
    }
}

.horizontal-scrollbar {
    align-self: flex-start;
    display: flex;
    width: 100%;
    height: calc(8.8rem + 17px);
    overflow-x: scroll;
    overflow-y: hidden;
    column-gap: $spacing-4;
    scroll-behavior: smooth;
}

.pair-icons {
    width:fit-content;
    display: flex;
    flex-direction: row;
    gap: $spacing-12;
}

.pair-icon-text {
    width:fit-content;
    display: flex;
    flex-direction: row;
    gap: $spacing-2;
}

.hr {
    border: 0px;
    margin: 0;
    margin-bottom: $spacing-4;
    background: var(--color-basic-accent);
    height: 0.1rem;
    opacity: 0.1;
}

.section-big {
    overflow: hidden;
    height: 8.8rem;
}