@import '../../styles/utils';

.root {
    display: flex;
    flex-direction: column;
    gap: $spacing-4;
    background-color: $color-basic-beige;
}

.functionalBlock {
    @include transition(all);
    background-color: $color-basic-white;
    margin-top: 0;
    margin-bottom: 0;
    height: 356px;

    &.hidden {
        height: 0;
        opacity: 0;
        padding: 0;
        visibility: hidden;
    }
}
