@import '../../styles/utils';

.root {
    --f-block-color: var(--color-basic-accent);

    display: flex;
    justify-content: space-between;
    position: relative;
    width: 100%;
    max-width: 100%;
    min-width: 13.2rem;
    background: var(--f-block-color);
    border-radius: 2px;
    padding: $spacing-8 $spacing-4 $spacing-8 $spacing-8;

    &.size {
        &-xl,
        &-m {
            width: 19.2rem;
        }

        &-l,
        &-s {
            width: 12rem;
        }

        &-xl,
        &-l {
            align-items: flex-end;
            height: 9.6rem;

            .functionIcon {
                position: absolute;
                top: $spacing-4;
                right: $spacing-4;
            }
        }

        &-s,
        &-m {
            align-items: flex-end;
            height: 6.4rem;
        }
    }

    &.transparent,
    &.outline,
    &.striped {
        border: 1px solid rgba($color-basic-accent, 0.5);
        background: none;

        .functionIcon {
                position: absolute;
                top: $spacing-4;
                right: $spacing-4;
                opacity: 0.5;
        }
    }
}

.stripe {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: repeating-linear-gradient(
                    -60deg,
                    transparent,
                    transparent 1.8rem,
                    var(--f-block-color) 0,
                    var(--f-block-color) 3.6rem
    );
    opacity: 0.05;
    z-index: 0;
}
