@font-face {
    font-family: 'Epos';
    src: url('./Epos-Medium.eot');
    src: local('Epos Medium'), local('Epos-Medium'),
    url('./Epos-Medium.eot?#iefix') format('embedded-opentype'),
    url('./Epos-Medium.woff2') format('woff2'),
    url('./Epos-Medium.woff') format('woff'),
    url('./Epos-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}
