@mixin transition($props) {
    $str: '';

    @each $prop in $props {
        $str: '#{$prop} 300ms ease, #{$str}';
    }

    transition: #{$str};
}

@mixin fullscreen() {
    @media screen and (display-mode: standalone) {
        @content;
    }
}

@mixin colorElement($var) {
    #{$var}: var(--color-element);
}

@mixin colorRole($var) {
    #{$var}: var(--color-role);
}

@mixin colorRoleDual($var) {
    #{$var}: var(--color-role-dual);
}
