@import '../../styles/utils';

root {
    width: 48rem;
}

.row {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: baseline;
    flex-wrap: nowrap;
    justify-content: space-between;
    padding-top: $spacing-8;
    padding-bottom: $spacing-8;
    gap: $spacing-8;

}

.divider {
    @include colorRole(--dvd-color);

    position: relative;
    max-height: 1px;
    height: 1px;
    width: auto;
    margin: 0;
    border: 0;
    opacity: 0.5;
    background: linear-gradient(
                    90deg,
                    var(--color-basic-white) 0%,
                    var(--dvd-color) 100%
    );
}