@import '../../styles/utils';

root {
    width: 48rem;
}

.row {
    position: relative;
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    padding-top: $spacing-8;
    padding-bottom: $spacing-8;

}

.divider {
    @include colorElement(--dvd-color);

    position: relative;
    align-self: center;
    height: 1px;
    border: 0;
    opacity: 1;
    background: linear-gradient(
                    90deg,
                    var(--color-basic-white) 30%,
                    var(--dvd-color) 100%
    );
}