@import '../../styles/utils.scss';

.root {
    width: 100%;
    display: flex;
    border-radius: 2px;
    padding: $spacing-4;

    &.dual,
    &.activity,
    &.mirror,
    &.identical {
        background-color: rgba($color-pastel-turquoise, .25);

        .icon,
        .help {
            color: $color-pastel-turquoise;
        }
    }

    &.kindred,
    &.semidual,
    &.pragmatic,
    &.illusionary {
        background-color: rgba($color-pastel-green, .25);

        .icon,
        .help {
            color: $color-pastel-green;
        }
    }

    &.beneficiary,
    &.giver,
    &.supervisor,
    &.underling {
        background-color: rgba($color-pastel-yellow, .25);

        .icon,
        .help {
            color: $color-pastel-yellow;
        }
    }

    &.quasidentical,
    &.parallel,
    &.contrary,
    &.superego {
        background-color: rgba($color-pastel-pink, .25);

        .icon,
        .help {
            color: $color-pastel-pink;
        }
    }
}

.text {
    display: flex;
    flex-direction: column;
}

.intertype {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: $spacing-20 $spacing-8;
    width: 50%;
}

.help {
    position: absolute;
    top: $spacing-4;
    right: $spacing-8;
}

.line {
    flex: 0;
    margin-bottom: $spacing-8;
}


.lvl {
    align-self: flex-end;
    display: flex;
    align-items: flex-end;
    gap: $spacing-4;
    height: 1.6rem;
    margin-bottom: $spacing-8;
    margin-right: $spacing-4;

    span {
        width: $spacing-4;
        background-color: $color-basic-accent;
        opacity: 0.1;

        &:nth-child(4) {
            height: 1.6rem;
        }

        &:nth-child(3) {
            height: 1.2rem;
        }

        &:nth-child(2) {
            height: 0.8rem;
        }

        &:nth-child(1) {
            height: 0.4rem;
        }
    }

    &.lvl-1 {
        span {
            &:nth-child(1) {
                opacity: 0.75;
            }
        }
    }

    &.lvl-2 {
        span {
            &:nth-child(1),
            &:nth-child(2) {
                opacity: 0.75;
            }
        }
    }

    &.lvl-3 {
        span {
            &:nth-child(1),
            &:nth-child(2),
            &:nth-child(3) {
                opacity: 0.75;
            }
        }
    }

    &.lvl-4 {
        span {
            opacity: 0.75;
        }
    }
}

.sociotype {
    width: 50%;
}

.description {
    opacity: 0.75;
}

.icon {
    position: absolute;
    margin-top: 0;
    margin-bottom: 5.6rem;
}